version: '3.9'
services:
    db:
        image: mysql:8
        environment:
            - MYSQL_ROOT_PASSWORD=rootpass
            - MYSQL_DATABASE=backendchallenge
        
    app:
        build: .
        ports:
            - 80:80