""" Environment database settings
Edit credentials
user, password, host and database, then
rename the file to 'databasesettings.py'
this url is for MySQL, to use other database engines,
consult documentation on SQLAlchemy:
https://docs.sqlalchemy.org/en/14/dialects/index.html
"""

#Use format:
#mysql+pymysql://[user]:[password]@[host][/database][?options]


SQLALCHEMY_DATABASE_URL = 'mysql+pymysql://[user]:[password]@[host][/database]'